@import "body/Header/encabezadosuperior"; //listo y queries
@import "body/Header/encabezadocentral"; // LISTO y queries
@import "body/Header/encabezadoinferior"; // LISTO y queries
@import "body/Main/grids"; // LISTO y queries
@import "body/Main/slider"; // LISTO y queries
@import "body/Main/nosotrosyenvios"; // listo y queries
@import "body/Footer/footer"; // listo y queries
@import "body/Animaciones/animaciones"; // listo y queries
.todo_el_codigo {
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    .encabezado {
        position: sticky;
        right: 0;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #62c3c7;
        height: auto;
        &__superior {
            display: flex;
            flex-direction: column;
            height: auto;
        }
        &__inferior {
            display: flex;
            flex-direction: column;
            height: auto;
        }
    }
}
/*  sass --watch scss/style.scss assets/css/style.css */
