.primer_grid,
.segundo_grid,
.tercer_grid {
    background-color: white;
    padding: 0px;
    margin: 0px;
    .container {
        max-width: max-content;
        margin: 0 auto;
        .row {
            .grid-images {
                margin-bottom: 50px;
                padding: 10px;
                img:hover {
                    filter: grayscale(100%);
                    transition: filter 0.3s ease;
                }
            }
        }
    }
}
.segundo_grid,
.tercer_grid {
    display: none;
}
@media (max-width: 575.98px) {
    .primer_grid,
    .tercer_grid {
        display: none;
    }
    .segundo_grid {
        display: block;
    }
}

@media (min-width: 575.99px) and (max-width: 790px) {
    .primer_grid,
    .segundo_grid {
        display: none;
    }
    .tercer_grid {
        display: block;
    }
}
