.carrusel {
    overflow: hidden;
    width: 100%;
    position: relative;
    &__int {
        display: flex;
        animation: scroll 15s linear infinite;
        width: fit-content;
        &--int {
            flex: 0 0 30%;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 15px;
            img {
                height: 500px;
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}
@media (max-width: 575.98px) {
    .carrusel {
        &__int {
            &--int {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                flex: 0 0 110%;
            }
        }
    }
}
@media (min-width: 575.99px) and (max-width: 790px) {
    .carrusel {
        &__int {
            &--int {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 10px;
                flex: 0 0 70%;
            }
        }
    }
}
