/* body */
.body_top {
    font-family: "Nunito", sans-serif;
    background-color: #62c3c7;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}
/* body */

/* header */
.header-middle {
    position: sticky;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #62c3c7;
    height: auto;
}
/* header */

/* contenedor de filas de header */
.header-middle__top {
    display: flex;
    flex-direction: column;
    height: auto;
}
/* contenedor de filas de header */

/* modelos desplegables */
.header-middle__bottom {
    display: flex;
    flex-direction: column;
    height: auto;
}
/* modelos desplegables */

/* primera fila de header */
.container-fluid__top {
    font-size: 12px;
    height: 20px;
}
/* primera fila de header */

/* segunda fila de header */
.navbar{
    display: flex;
    justify-content: space-evenly;
}
/* segunda fila de header */

/* logo onlyplast */
.navbar__logo{
    height: auto;
}
.navbar__logo--only {
    height: 60px;
    width: auto;
}
/* logo onlyplast */

/* buscador */
.browser {
    overflow: visible;
}
.form-control{ 
    font-size: small;
    height: 30px;
}
/* buscador */

/* cajon de botones */
.buttons {
    display: flex;
    gap: 40px;
}
.buttons__x3{
    display: flex;
    font-size: x-small;
    align-items: center;
    border: none;
    background-color: #62c3c7;
    
}

.buttons__x3--ayuda{
    background-color: #62c3c7;
    padding-top: 10px;
    border: none;
    width: 70px;
}
.buttons__x3--ayuda:active{
    border: none;
    background-color: #4fa2a5;
    border-radius: 30%;
    height: 60px;
}
.buttons__x3--usuario{
    background-color: #62c3c7;
    padding-top: 10px;
    border: none;
    width: 70px;
}
.buttons__x3--usuario:active{
    border: none;
    background-color: #4fa2a5;
    border-radius: 30%;
    height: 60px;
}

.buttons__x3--carrito{
    background-color: #62c3c7;
    padding-top: 10px;
    border: none;
    width: 70px;
}
.buttons__x3--carrito:active{
    border: none;
    background-color: #4fa2a5;
    border-radius: 30%;
    height: 60px;
}


/* boton de carrito */

/* boton de carrito */

/* cajon de botones */

.menu{
    list-style-type: none;
    display:none;
}
.modelos{
    display:none;
}

/* linea divisora oscura */
.divisor {
    width: 100%;
    height: 1px;
    background-color: #92ffed;
    filter: brightness(80%);
}
/* linea divisora oscura */

/* modelos desplegables */
.nav-item{
    height: auto;
}
.btn{
    font-size: 14px;
    background-color: #62c3c7;
    border-radius: 30px;
    height: auto;
    border: none
}
.btn:hover{
    background-color: #4fa2a5;
    border-radius: 30px;
    height: auto;
}
/* modelos desplegables */
/* lista grid de 6 productos */
.grid-images{
    margin-bottom: 50px;
    padding: 10px;
}
.container{
    max-width: max-content;
    margin: 0 auto
}
.sixgrid{
    background-color: white;
    padding: 0px;
    margin: 0px;
}
.sixgrid2{
    display:none;
    background-color: white;
    padding: 0px;
    margin: 0px;
}
.sixgrid3{
    display: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
}
/* lista grid de 6 productos */

/* newsletter footer */
.footer {
    background-color: #62c3c7;
    color: white;
    text-align: center;
    height: auto;
}
.footer__section{
    padding: 70px 0 ;
}
.footer__section--h1{
    font-size: small;
    margin-bottom: 20px;
}
.footer__section--h2{
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
}
.footer__section--p{
    font-size: 12px;
    margin-bottom: 20px;
}
.footer__section--button{
    padding: 5px;
    background-color: white;
    color: #62c3c7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.footer__section--button:hover {
    background-color: #4fa2a5;
}
.footer__section--browser{
    font-size: small;
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 10px; 
    margin-bottom: 0px;    
    cursor: pointer;
}
/* newsletter footer */

/* Media queries 575.98px */
@media (max-width: 575.98px) { 
/* primera fila de header */
.container-fluid__top {
    font-size: 9px;
    height: 15px;
}
/* primera fila de header */

/* segunda fila de header */
    .navbar{
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
        width: auto;
    }
/* segunda fila de header */

/* logo onlyplast */
    .navbar__logo--only {
        width: 100%;
    }  
/* logo onlyplast */

/* buscador */
    .browser{
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    
    .form-control{
        width: 80%;
    }
    .browser__search{
        display: flex;
        justify-content: center;
        width: 100%;
    }
/* buscador */

/* cajon de botones */
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    .buttons__x3{
        display:none;
    }
    .menu{
        padding: 10px;
        display: block;
        height: 45px;
    }
    .menu:hover {
        background-color: #4fa2a5;
        border-radius: 15px;
        height: 45px;
        cursor: pointer;
    }
    .menu__d{
        text-align: center;
    }
    .dropdown-menu{
        text-align: center;
    }
    .modelos{
        display: block;
        height: 35px;
    }
    .modelos:hover{
        background-color: #4fa2a5;
        border-radius: 15px;
        height: 35px;
        cursor: pointer;
    }
    .dropdown-menu{
        text-align: center;
    }
    .modelos__ul{
        text-align: center;
    }
/* cajon de botones */

/* modelos desplegables */
    .header-middle__bottom{
        display: none;
    }
/* modelos desplegables */
/* lista grid de 6 productos */
    .sixgrid{
        display: none;
    }
    .sixgrid2{
    display: block;
    }
    .sixgrid3{
        display: none;
    }
/* lista grid de 6 productos */
}
/* Media queries 575.98px */

/* Media queries 575.98px a 799.98px */
@media (min-width: 575.99px) and (max-width: 766px) {
    /* primera fila de header */
    .container-fluid__top {
        font-size: 12px;
        height: 20px;
    }
    /* primera fila de header */

    /* segunda fila de header */
    .navbar{
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
        width: auto;
    }
    /* segunda fila de header */
    
    /* logo onlyplast */
    .navbar__logo--only {
        width: 100%;
    }    
    /* logo onlyplast */

    /* buscador */
    .browser{
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    .browser__search{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .form-control{
        width: 80%;
    }
    /* buscador */

    /* cajon de botones */
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    .buttons__x3{
        display:none;
    }
    .menu{
        padding: 10px;
        display: block;
        height: 45px;
    }
    .menu:hover {
        background-color: #4fa2a5;
        border-radius: 15px;
        height: 45px;
        cursor: pointer;
    }
    .menu__d{
        text-align: center;
    }
    .dropdown-menu{
        text-align: center;
    }
    .modelos{
        display: block;
        height: 35px;
    }
    .modelos:hover{
        background-color: #4fa2a5;
        border-radius: 15px;
        height: 35px;
        cursor: pointer;
    }
    .dropdown-menu{
        text-align: center;
    }
    .modelos__ul{
        text-align: center;
    }
    /* cajon de botones */

    /* modelos desplegables */
    .header-middle__bottom{
        display: none;
    }
    /* modelos desplegables */
    
    /* lista grid de 6 productos */
    .sixgrid{
        display: none;
    }
    .sixgrid2{
    display: none;
    }
    .sixgrid3{
        display:block;
    }
    /* lista grid de 6 productos */
}
/* Media queries 575.98px a 799.98px */
/* SEGUNDA PAGINA */
.foto{
    display: flex;


}
.foto__edit{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 25px;

}